@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to Trash Collector Management. Here we give our customers access to sign up , schedule and change pickups.</p>
<p>We also offer a trash collection hold option.</p>
<br/>
<p>Our workers are able able to organize trash pickups based on our customers zip code locations. </p>
