@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector Services</h1>
    <p class="lead">Be in control of your Trash pickups.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Schedule</h2>
        <p> Edit your trash service and/or schedule an additional pickup</p>
        <a href="@Url.Action("Index","Schedules")"  class="btn btn-warning">schedule</a>
    </div>
    <div class="col-md-4">
        <h2>Trash vacation Hold</h2>
        <p>Enjoy your vacation with no worries about your trash. Take advantage of our vacation hold service.</p>
        <a href="@Url.Action("Index","Schedules")" class="btn btn-warning">Hold</a>
    </div>
    <div class="col-md-4">
        <h2>My account info</h2>
        <p>Take a look at your monthly charges.</p>
        <a href="@Url.Action("Index","Schedules")" class="btn btn-warning">hold</a>
    </div>
</div>